body {
    background-image: url("http://sfwallpaper.com/images/pixel-background-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-bottom: 50px;
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    line-height: 60px;
    background-color: rgba(169, 169, 169, 0.6);
    text-align: left;
 }
 #footer-container-text{
    color: white;
    line-height: 30px;
    margin-left: 20px;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
#games-list{
  padding-right: -40px;
}

/* .modal-class{
display: none;
position: fixed;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.4);
z-index: 1;
}

#update-card{
background-color: #fefefe;
margin: auto;
padding: 20px;
width: 80%;
} */